<!--<link rel="stylesheet" href="assets/css/foundation.css">
<link rel="stylesheet" href="assets/css/app.css">-->


<div class="work-feature-block row startpage greetImageFormBlock">
    <div class="columns medium-6 ">
      <img class="work-feature-block-image logoImage" src="assets/img/projectlogo.png" width=auto height=auto/>
      <div class="greetBlock">
        <h2 class="work-feature-block-header">Добро пожаловать на InGO!</h2>
        <p>
          Привет!<br>
          Мы - портал для стажёров, их менторов и им сочувствующих.<br>
          У нас ты можешь делиться впечатлениями с другими стажёрами и менторами, получать советы и рекоммендации, а также узнавать о предстоящих событиях от Ингостраха!
        </p>
      </div>
    </div>

    
      <div class="columns medium-6 authenticationForm">
          <ul class="tabs regAuthTabs" data-tabs id="example-tabs">
              <li class="tabs-title is-active"><a routerLink='registration' routerLinkActive='active'>Регистрация</a></li>
              <li class="tabs-title"><a routerLink='login' routerLinkActive='active' >Войти</a></li>
            </ul>
      <router-outlet></router-outlet>

            
            
    </div>
</div>
<script src="assets/js/vendor/foundation.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/vendor/what-input.js"></script>
<script src="assets/js/vendor/jquery.js"></script>



