<div class="content">
  <h1>Эта страница поможет тебе здесь освоиться</h1>
  <h2>Главная</h2>
  <img src="assets/img/about/mainpageexample.png"/>
  <h3>Сортировка</h3>
  <p>Посты на главной странице можно сортировать для удобства просмотра по трем категориям: <strong>лучшее, новое и полезное</strong>.</p>
  <img src="assets/img/about/maincategories.png"/>
  <h3>Популярные теги</h3>
  <p>После селектора сортировки идёт <strong>облако популярных тегов</strong>. Теги отбираются модераторами. </p>
  <img src="assets/img/about/populartags.png"/>
  <p>Весь контент сайта представлен в виде <strong>постов</strong>. Пост имеет <strong>заголовок, тэги, автора (если не анонимный) и достижения</strong>. </p>
  <h2>Пост, комментарии, достижения</h2>
  <p>Посты можно <strong>комментировать</strong>. Понравившемуся комментарию можно поставить <strong>лайк</strong>.</p>
  <img src="assets/img/about/commentexample.png"/>
  <p>Если тебе понравился пост - нажми <strong>сердечко</strong>.<br> Если ты посчитал пост полезным - нажми <strong>звёздочку</strong>, и сможешь вернуться к этому посту в любой момент из <strong>личного кабинета</strong>.</p>
  <img src="assets/img/about/likefavexample.png"/>
  <p>Пост с релевантной или интересной информацией модератор может отметить <strong>достижением</strong>. <br>В таком случае у поста (и его автора) появится соответствующий знак отличия.</p>
  <img src="assets/img/about/badgesexample.png"/>
  <h2>Гид</h2>
  <p><strong>Гид</strong> - это сборник полезной информации. Лучшие информативные посты попадают туда, проходя модерацию.<br> Посты здесь ранжируются не по тегам, а по <strong>категориям</strong> - подборкам, сделанным модераторами вручную. <br>Посты в Гиде постоянно обновляются - устаревшие отправляются в архив и добавляются новые.</p>
  <img src="assets/img/about/faqcategoriesexample.png"/>
  <h2>Личный кабинет</h2>
  <p>Здесь ты можешь посмотреть информацию о каком-либо авторе, и изменить, если автор - ты. В Личном Кабинете также можно просмотреть посты своего авторства и вернуться к постам, которые ты сохранил к себе. </p>
  <img src="assets/img/about/useraboutexample.png"/>
  <h2>Добавление поста</h2>
  <p>Чтобы добавить пост - нажми на симпатичный <strong>плюсик</strong> в углу экрана.</p>
  <img src="assets/img/about/addpostexample.png"/>
  <p>Если ты застенчив или хочешь спросить что-то неоднозначное - <strong>пост можно добавить анонимно</strong>, нажав соответствующий переключатель в форме добавления поста.</p>

</div>
