
<footer class="marketing-site-footer ">
    <div class="row medium-unstack siteFooter">
      <div class="medium-4 columns">
        <h4 class="marketing-site-footer-name">InGo</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.</p>
        <ul class="menu marketing-site-footer-menu-social simple">
          <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="medium-4 columns">
         <h4 class="marketing-site-footer-title">Contact Info</h4>
        <div class="marketing-site-footer-block">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <p>Дом Колотушкина, ул. Пушкина<br>Москва, Россия 1422888</p>
        </div>
        <div class="marketing-site-footer-block">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>8 (800) 555-3535</p>
        </div>
        <div class="marketing-site-footer-block">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>bepis@boba-bola.com</p>
        </div>
      </div>
    </div>
    <div class="marketing-site-footer-bottom">
      <div class="row large-unstack align-middle">
        <div class="column">
          <p>&copy; 2019 Могучие Рейнджеры</p>
        </div>
      </div>
    </div>
  </footer>

